<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="4" parallel="classes">
  <test  name="Chromebrowser">
<parameter name="alpha" value="Chromebrowser"/>
    <classes>
      <class name="maven.testclass"/>
      <class name="maven.Annutation"/>
    </classes>
  </test> <!-- Test -->


<test  name="Firefoxbrowser">
<parameter name="alpha" value="Firefoxbrowser"/>
    <classes>
      <class name="maven.testclass"/>
      <class name="maven.Annutation"/>
    </classes>
  </test> <!-- Test -->

</suite> <!-- Suite -->
